@mixin placeholder-text-color ($color) {
    /** The placeholder-text-color function lets you change
        the color of the placeholder text in all browsers
        that support placeholder

        It takes a value of a color, hex rgb, hsl and
        outputs the necesarry vendor prefixed rules

        @include placeholder-text-color(#333);
        =>  ::-webkit-input-placeholder {
        =>    color: #333; 
        =>  }
        =>  :-moz-placeholder { 
        =>    color: #333;
        =>  }
        =>  ::-moz-placeholder { 
        =>    color: #333;
        =>  }
        =>  :-ms-input-placeholder {  
        =>    color: #333;
        =>  }

    */
    
    ::-webkit-input-placeholder {
      color: $color; 
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $color;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
      color: $color;
    }
    :-ms-input-placeholder {  
      color: $color;
    }
    :-o-input-placeholder {  
      color: $color;
    }

}